.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 20px;
  width: 28%;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin-top: 15px;
  font-size: 20px;
  color: #5c452a;
}

.card:hover {
  transform: translateY(-5px);
}
